* {
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em 0 0 0.5em;
}

body {
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
}

header,
.modal-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.modal-data ul {
    max-width: 60%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

a {
    padding: 0 20px;
    color: antiquewhite;
    text-decoration: none;
  }

  h1 {
    max-width: 50%;
}

.jumbotron {
    border: 2px solid lightgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%
}

.jumbotron article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.diaporama {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.galery img {
    min-width: 25%;
    transition: min-width ease-in 2s, width ease-in 2s;
}

.galery {
    display: flex;
    align-items: center;
    width: 70%;
    overflow: hidden;
}

.control {
    width: 15%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #272626;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}