* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

header {
    align-items: center;
    padding: 2em 0 1em 1em;
}

header,
.modal-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.modal-data ul {
    max-width: 60%;
}

nav {
    width: 60%;
}

nav ul {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    width: 100%;
}

nav ul li {
    padding-left: 3em;
}

a {
    color: antiquewhite;
    text-decoration: none;
  }

h1 {
    width: 40%;
}

h2 {
    padding: 1em 0 0 1em;
}

.jumbotron {
    border: 2px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 90%;
    margin-left: 5%;
    background-color: rgb(17, 3, 3);
    border-radius: 10px 10px;
}

.jumbotron figure {
    padding: 1em 1em;
}

.jumbotron img {
    height: 50vh;
}

.jumbotron article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 30%;
}

.jumbotron button {
    padding: 0.5em 1em;
}

.diaporama {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.galery img {
    min-width: 25%;
    padding: 1vw 2vw;
    transition: min-width ease-out 0.6s, width ease-out 0.6s, padding ease-out 0.6s;
}

.galery {
    display: flex;
    align-items: center;
    width: 60%;
    height:100%;
    padding: 1%;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.galery::-webkit-scrollbar {
    display: none;
  }

.control {
    width: 20%; 
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control button {
    height: 100%;
    text-align: center;
    justify-items: center;
    font-size: 4em;
    padding: 2vw 1vw;
    background-color: darkslategrey;
    color: antiquewhite;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #272626;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}